@model SV21T1020484.Shop.Models.OrderDetailModel
@{
    decimal total = 0;
    int i = 1;
}
<div class="container my-5">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
            <li class="breadcrumb-item"><a href="~/Account/History">Lịch sử</a></li>
            <li class="breadcrumb-item active" aria-current="page">Chi tiết</li>
        </ol>
    </nav>

    <!-- Thông tin đơn hàng -->
    <div class="mb-4">
        <div class="bg-secondary text-white p-2">
            <h5>Thông Tin Người Mua</h5>
        </div>
        <div class="">
            <div class="row">
                <div class="col-md-6">
                    <p><strong>Tên khách hàng:</strong> @Model.Order.CustomerName</p>
                    <p><strong>Email:</strong> @Model.Order.CustomerEmail</p>
                    <p><strong>Số điện thoại:</strong> @Model.Order.CustomerPhone</p>
                </div>
                <div class="col-md-6">
                    <p><strong>Địa chỉ giao hàng:</strong> @Model.Order.DeliveryAddress</p>
                    <p><strong>Tỉnh/Thành phố:</strong> @Model.Order.DeliveryProvince</p>
                    <p><strong>Ngày đặt hàng:</strong> @Model.Order.OrderTime.ToString("dd/MM/yyyy")</p>
                    <p><strong>Trạng thái:</strong> @Model.Order.StatusDescription</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Danh sách sản phẩm -->
    <div class="mb-4">
        <div class="bg-secondary text-white p-2">
            <h5>Danh Sách Sản Phẩm</h5>
        </div>
        <table class="table table-bordered mt-2">
            <thead class="table-info">
                <tr>
                    <th>#</th>
                    <th>Tên Sản Phẩm</th>
                    <th>Số Lượng</th>
                    <th>Đơn Giá</th>
                    <th>Thành Tiền</th>
                    @if (Model.Order.Status == SV21T1020484.DomainModels.Constants.ORDER_INIT)
                    {
                        <th>Xử lý</th>
                    }
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var item in Model.Details)
                    {
                        <tr>
                            <td>@i</td>
                            <td>@item.ProductName</td>
                            <td>@item.Quantity</td>
                            <td>@item.SalePrice.ToString("N0") VNĐ</td>
                            <td>@item.TotalPrice.ToString("N0") VNĐ</td>
                            @if (Model.Order.Status == SV21T1020484.DomainModels.Constants.ORDER_INIT)
                            {
                                <td>
                                    <a href="/Account/DeleteOrderDetail?orderID=@item.OrderID&productId=@item.ProductID" class="btn btn-xs btn-danger" onclick="return confirm('Xóa mặt hàng này khỏi đơn hàng?')">
                                        <i class="fa fa-trash">Xóa</i>
                                    </a>
                                </td>
                            }
                        </tr>
                        i += 1;
                        total += item.TotalPrice;
                    }
                }
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="5" class="text-end">Tổng cộng: @total.ToString("N0") VNĐ</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
