@model SV21T1020484.DomainModels.Shipper
@{
}
<div class="box box-primary">
    <div class="box-body">
    <form action="~/Shipper/Save" method="post">
        <input type="hidden" name="@nameof(Model.ShipperID)" value="@Model.ShipperID" />
            <div class="form-group">
                <label></label>
                @Html.ValidationMessage(nameof(Model.ShipperID))
            </div>
        <div class="form-group">
            <label>Tên giao hàng</label>
            <input class="form-control" type="text" name="@nameof(Model.ShipperName)" value="@Model.ShipperName" />
                @Html.ValidationMessage(nameof(Model.ShipperName))
         </div>
        <div class="form-group">
            <label>Số điện thoại</label>
            <input class="form-control" type="text" name="@nameof(Model.Phone)" value="@Model.Phone" />
                @Html.ValidationMessage(nameof(Model.Phone))
        </div>
        <div class="form-group text-right">
            <button type="submit" class="btn btn-info">
                <i class="fa fa-floppy-o">Xác nhận lưu</i>
            </button>
            <a href="~/Shipper">Quay lại</a>
        </div>

        </form>
    </div>
</div>

